// WIDTHS
$w-xs: 280px;
$w-s: 300px;
$w-m: 320px;
$w-l: 360px;

$gap: 20px;

$offset: 20px;

.carousel-wrapper {
  width: 100%;
  padding: 12px 0 20px;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: $gap;
  transition: transform 0.35s cubic-bezier(.25,.8,.25,1);
  padding-left: $offset;   
  padding-right: $offset;
  will-change: transform;
}

.card-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.45;
  transform: scale(.85);
  transition: transform .3s ease, opacity .3s ease;
  z-index: 1;

  &.active {
    opacity: 1;
    transform: scale(1);
    z-index: 3;
  }

  &.prev,
  &.next {
    opacity: .8;
    transform: scale(.93);
    z-index: 2;
  }
}


@media (max-width: 374px) {
  .carousel-track {
    padding-left: $offset;   
    padding-right: $offset; 
    gap: 15px;
  }
}

@media (min-width: 375px) and (max-width: 399px) {
  .carousel-track {
    padding-left: $offset;   
    padding-right: $offset;  
    gap: 14px;
  }
  .card-slide {
    flex: 0 0 300px;
    width: 300px;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .carousel-track {
    padding-left: $offset;   
    padding-right: $offset;  
    gap: 15px;               
  }
  .card-slide {
    flex: 0 0 $w-m;          
    width: $w-m;
  }
}

@media (min-width: 768px) {
  .card-slide {
    flex: 0 0 $w-l;
    width: $w-l;
  }
}
