<div class="bottom-nav">
    <div class="nav-buttons">
        <button class="nav-item" [class.active]="isActive('/home')" (click)="navigateTo('/home')">
          <img src="/assets/img/home.svg" alt="No menu">
            <span class="nav-label">Asosiy</span>
        </button>
        <button class="nav-item" [class.active]="isActive('/cards')" (click)="navigateTo('/cards')">
          <img src="/assets/img/cards.svg" alt="No menu">
            <span class="nav-label">Kartalar</span>
        </button>
        <button class="nav-item" [class.active]="isActive('/overview')" (click)="navigateTo('/overview')">
          <img src="/assets/img/chart.svg" alt="No menu">
            <span class="nav-label">Hisobot</span>
        </button>
        <button class="nav-item" [class.active]="isActive('/profile')" (click)="navigateTo('/profile')">
          <img src="/assets/img/user.svg" alt="No menu">
            <span class="nav-label">Profil</span>
        </button>
    </div>
</div>
