<div class="screen profile-screen">
    <!-- Profile Header with Gradient -->
    <div class="profile-header-card">
        <div class="profile-info">
            <div class="profile-avatar">
                <div class="avatar-circle">{{ userName.charAt(0) }}</div>
                <div class="verified-badge">
                    <img src="/assets/img/verified.svg" alt="Verified" />
                </div>
            </div>
            <div class="profile-text">
                <h3>{{ userName }}</h3>
                <p>{{ userEmail }}</p>
            </div>
        </div>
        <button class="notification-btn">
            <i class="fas fa-bell"></i>
        </button>
    </div>

    <!-- Menu Items -->
    <div class="profile-menu">
        <div class="menu-item">
            <div class="menu-icon premium">
                <img src="assets/img/premium.png" alt="Premium" >
            </div>
            <span>Premium obuna</span>
            <img src="/assets/img/chevron-right.svg" alt="Arrow" width="20" height="20">
        </div>

        <div class="menu-item">
            <div class="menu-icon yellow">
              <img src="assets/img/user2.svg" alt="user" >
            </div>
            <span>Shaxsiy ma'lumotlar</span>
            <img src="/assets/img/chevron-right.svg" alt="Arrow" width="20" height="20">
        </div>

        <div class="menu-item">
            <div class="menu-icon blue">
              <img src="assets/img/clock.svg" alt="clock" >
            </div>
            <span>Avto to'lov</span>
            <img src="/assets/img/chevron-right.svg" alt="Arrow" width="20" height="20">
        </div>

        <div class="menu-item" (click)="goToSettings()">
            <div class="menu-icon blue">
              <img src="assets/img/cog.svg" alt="cog" >
            </div>
            <span>Sozlamalar</span>
            <img src="/assets/img/chevron-right.svg" alt="Arrow" width="20" height="20">
        </div>

        <div class="menu-item">
            <div class="menu-icon pink">
              <img src="assets/img/question.svg" alt="question" >
            </div>
            <span>Ko'p beriladigan savollar</span>
            <img src="/assets/img/chevron-right.svg" alt="Arrow" width="20" height="20">
        </div>

        <div class="menu-item">
            <div class="menu-icon green">
              <img src="assets/img/help.svg" alt="help" >
            </div>
            <span>Yordam xizmati</span>
            <img src="/assets/img/chevron-right.svg" alt="Arrow" width="20" height="20">
        </div>
    </div>
</div>
